.countries {
  display: flex;
  justify-content: center;
}

.country {
  cursor: pointer;
}

table {
  border-spacing: 1px;
  width: 100%;
  border: 1px solid #ddd;
}

th {
  cursor: pointer;
}

th,
td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
  color: #000;
}

@media screen and (max-width: 480px) {
  th,
  td {
    padding-left: 8px;
    padding-right: 8px;
  }
}
